html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  /* background: transparent; Optional: just make scrollbar invisible */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

/* target the id #*/
#game-intro {
  background: url(/assets/park.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
}

/* target the class .*/
.start-dog {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  padding: 5px;
  /* whit this property my images goes in the center */
  margin: auto;
}

#game-intro h3 {
  font-size: 7em;
  text-align: center;
}

#start-button {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 16, 157);
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 6px 12px 0px rgb(0 0 0 / 13%);
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
/* button game information styling and PopUp */
#info-game {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 16, 157);
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 1px 6px 12px 0px rgb(0 0 0 / 13%);
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

#info-game:hover {
  background-color: rgb(84, 68, 143);
}

#popup {
  display: none;
}

.popup-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(96 95 127 / 70%);
  position: absolute;
  top: 0;
  left: 0;
}
.popup {
  background-color: #ffffff;
  padding: 20px 30px;
  width: 50%;
  border-radius: 15px;
}
.close-popup {
  display: flex;
  justify-content: flex-end;
}
.close-popup a {
  font-size: 1.2rem;
  background-color: rgb(28, 16, 157);
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
}
.popup > h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.popup > p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.popup-btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid rgb(28, 16, 157);
  padding: 5px 15px;
  border-radius: 20px;
  margin: 10px 0px;
  transition: 0.2s all ease-in;
}
.popup-btn:hover {
  background-color: rgb(28, 16, 157);
  color: #fff;
}

/* image for the 2nd screen */
#game-container {
  display: none;
  position: relative;
  background: url(/assets/park.jpg) no-repeat center;
  background-size: cover;
  /* height: 100%;
  width: 100%;
  z-index: -1; */
  background-color: rgba(38, 12, 12, 0.5);
  width: 800px;
  height: 600px;
}

#score {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  font-weight: bold;
  font-size: 2rem;
  color: #120a0a;
  height: 100px;
  height: 100%;
  align-items: flex-end;
  /* z-index: 2; */
}

/* #score h3 {
  font-size: 7em;
  text-align: center;
} */

#timer {
  width: 100px;
  height: 45px;
  background-color: rgb(28, 16, 157);
  outline: none;
  border: none;
  padding: 10px 20px;
  /* font-weight: bold; */
  font-size: 1.5rem;
  color: #ffffff;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 6px 12px 0px rgb(0 0 0 / 13%);
}

/* #elements-falling {
  display: flex;
  flex-direction: row;
} */

#path {
  background: url(/assets/livingroom2.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  /* z-index: 2; */
  /* height: 670px;
  width: 700px; */
  height: 900px;
  margin: 0 300px;
  padding: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(4, 39, 44);
  width: 600px;
  height: 500px;
  left: 0;
  right: 0;
  bottom: 2em;
  margin: auto;
}
/* style of the images */
.img-food {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  position: absolute;
  animation: efood infinite linear 5s; /*duration timing-function delay iteration-count direction fill-mode; */
}

.img-bush {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  position: absolute;
  animation: ebush infinite linear 6s; /*duration timing-function delay iteration-count direction fill-mode; */
}

.img-cat {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  position: absolute;
  animation: ecat infinite linear 4s; /*duration timing-function delay iteration-count direction fill-mode; */
}

#elements-falling {
  width: 80px;
}

.img-dog {
  width: 20%;
  height: 20%;
  position: absolute;
  bottom: 0;
  margin: auto;
}

/* image for the last screen */
#game-end {
  display: none;
  background: url(/assets/park.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  height: 100%;
}
#game-end h1 {
  font-size: 5em;
  text-align: center;
}

#restart-button {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 16, 157);
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 1px 6px 12px 0px rgb(0 0 0 / 13%);
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

@keyframes efood {
  0% {
    top: -30px;
  }
  100% {
    top: 100px;
  }
}

@keyframes ebush {
  0% {
    top: -30px;
  }
  100% {
    top: 100px;
  }
}

@keyframes ecat {
  0% {
    top: -30px;
  }
  100% {
    top: 100px;
  }
}
